* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-primary: #d6d1d1;
  --color-secondary: black;
}
body {
  background-color: var(--color-primary);
}
header {
  padding: 20px 35px;
  border: 0.5vw solid var(--color-primary);
  background-image: url(../images/header.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header a {
  text-decoration: none;
  color: var(--color-secondary);
}
.logo {
  width: 5vw;
}
header nav {
  margin: auto 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 5px 15px;
  font-weight: normal;
  font-size: 2vw;
  background-color: var(--color-primary);
}
header nav a:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
.hero {
  border: 0.5vw solid var(--color-primary);
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position-y: 36%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: flex-start;
}
.hero-text {
  margin: 1.5vw 1vw;
  width: 15%;
  color: var(--color-primary);
}
.hero-text p {
  font-weight: lighter;
  line-height: 1.9;
  font-size: 1.5vw;
  text-align: right;
  text-justify: auto;
}
.hero-text span {
  font-weight: bold;
  float: right;
  line-height: 2;
  font-size: 2vw;
}
.hero-image img {
  width: 20vw;
  margin: 1vw;
  border: 0.2vw solid var(--color-primary);
}