* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root {
  --color-primary: #eee;
  --color-secondary: black;
}
body {
  background-color: var(--color-primary);
}
header {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: bolder;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  margin: 0 15px;
  font-size: 1.75rem;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: normal;
}
header nav a:hover {
  font-style: italic;
}
.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  /* places the image relative to the viewport instead of the element. */
  background-attachment: fixed;
}
.hero-text {
  margin: 1em;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 25%;
}
.hero-text p {
  font-size: 1.25rem;
  text-align: right;
  margin: 1em;
  line-height: 2;
}
.hero-text span {
  font-weight: bold;
  margin: 1em;
  font-size: 1.5rem;
  font-style: italic;
  text-align: right;
}
.amir-image {
  width: 250px;
  height: 326px;
}
#about-me, #work, #contact-me {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.section-title {
  border-right: 0.2em solid var(--color-secondary);
  padding: 20px;
  font-size: 1.75rem;;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: end;
  margin: 0 10px;
  width: 3.25em;
}
#about-me {
  display: flex;
}
#about-me p {
  padding: 1em;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: justify;
  display: flex;
  flex: 1;
}
.work {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1 1%;
}
.work div {
  margin: 20px;
}
.work-image {
  width: 200px;
}
.work div:hover {
  border: 5px solid red;
  margin: 15px;
}
h2, h3 {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-align: center;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 0.75rem;
  font-style: italic;
}
#contact-me ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#contact-me ul li {
  display: flex;
  flex-wrap: wrap;
}
#contact-me ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1em;
  color: var(--color-secondary);
}
#contact-me ul li a:hover {
  font-style: italic;
}
footer {
  background-image: url(../images/hero.jpg);
  background-position: bottom;
  text-align: center;
}
h4 {
  font-size: 1rem;
  padding: 1em;
  color: var(--color-primary);
}
@media screen and (max-width: 640px) {
  .amir-image {
    width: 125px;
    height: 163px;
  }
}
@media screen and (max-width: 520px) {
  .amir-image {
    width: 62.5px;
    height: 81.5px;
  }
}